@charset "UTF-8";

/* 
    Em HTML é id = Em CSS é #  (só pode um elento)
    Em HTML é class = Em CSS é .  (pode varios elementos)
*/



body{
    background-color: #7fffd4b3;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(20, 39, 32);
}
h2{
    color: rgb(54, 104, 87);
}
#principal{
    text-align: center;
    color: aliceblue;
    background-color: rgb(54, 104, 87);
}
.basico{
    color: rgb(22, 219, 35);
}
.intermediario{
    color: rgb(35, 23, 198);
}
.avancado{
    color: rgb(210, 24, 182);
}
.destaque{
    background-color: blanchedalmond;
}